.header {
    width: 100%;
    height: unset;
    background-image: unset;
}
.portfolio-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 38px;
    padding-top: 24px;
    &-left {
        max-width: 848px;
        .lightSlider {
            overflow: unset;
        }
        #imageGallery {
            padding-top: 7px;
            li {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background: linear-gradient(to bottom, transparent 20%, #191818cf 100%);
                }
                img {
                    width: 100%;
                    height: 411px;
                    border-radius: 8px;
                    object-fit: cover;
                }
                .overlay {
                    position: absolute;
                    top: -6px;
                    &-top {
                        .overlay-price {
                            position: relative;
                            .ribbon__svg {
                                position: absolute;
                                left: -3px;
                                top: -8px;
                                svg {
                                    width: 196px;
                                    height: 136px;
                                    opacity: 1;
                                }
                            }
                            .price__info {
                                position: absolute;
                                left: 40px;
                                top: 10px;
                                max-width: 113px;
                                max-height: 75px;
                                h6 {
                                    font-size: 18px;
                                    color: #ffffff;
                                    margin-bottom: 2px;
                                }
                                .sale__price {
                                    font-size: 24px;
                                    color: #ffffff;
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 3px;
                                    svg {
                                        width: 20px;
                                        height: 22px;
                                        fill: #ffffff;
                                        opacity: 1;
                                    }
                                }
                                .old__price {
                                    font-size: 12px;
                                    text-decoration: line-through;
                                    color: #9aadfd;
                                    display: flex;
                                    align-items: center;
                                    svg {
                                        width: 10px;
                                        height: 11px;
                                        fill: #9aadfd;
                                    }
                                }
                            }
                        }
                        .overlay-fullscreen {
                            position: absolute;
                            left: 50rem;
                            top: 11px;
                            background: #fff;
                            padding: 4px 9px;
                            border-radius: 10px;
                            height: fit-content;
                            padding-top: 2px;
                            cursor: pointer;
                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                    &-bottom {
                        position: relative;
                        top: 23rem;
                        left: 18px;
                        width: 60vw;
                        display: flex;
                        justify-content: space-between;
                        p {
                            color: #ffffff;
                        }
                        &-buttons {
                            display: flex;
                            position: relative;
                            top: -33px;
                            a {
                                width: 63px;
                                height: 63px;
                                border-radius: 8px;
                                position: relative;
                                &:before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 8px;
                                    background: #fff;
                                    opacity: 0.7;
                                }
                                svg {
                                    position: relative;
                                }
                                &:nth-child(1) {
                                    background-image: url("../images/portfolio-main/3.png");
                                    padding: 21px 14px 18px 13px;
                                    svg {
                                        width: 36px;
                                        height: 22px;
                                    }
                                }
                                &:nth-child(2) {
                                    background-image: url("../images/portfolio-main/snazzy-image\ \(2\).png");
                                    padding: 19px 25px 25px 27px;
                                    margin: 0 11px;
                                    svg {
                                        width: 10px;
                                        height: 13px;
                                    }
                                }
                                &:nth-child(3) {
                                    background-image: url("../images/portfolio-main/3.png");
                                    padding: 17px 21px 27px 22px;
                                    svg {
                                        width: 21px;
                                        height: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .lSGallery {
            li {
                width: fit-content !important;
                margin-right: 18px !important;
                img {
                    width: 90px;
                    height: 86px !important;
                    border-radius: 8px;
                    object-fit: cover;
                }
                &:nth-child(1) {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        opacity: 0.5;
                    }
                }
                &:nth-child(8) {
                    position: relative;
                    margin-right: 10px !important;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        opacity: 0.5;
                    }
                }
            }
        }
        .lSSlideWrapper {
            overflow: unset;
        }
        .lSAction > a {
            width: 18px;
            height: 12px;
            top: 115%;
            padding: 16px 17px;
            border: 1px solid #001136;
            border-radius: 8px;
            opacity: 1;
        }
        .lSNext {
            background: #001136;
        }
        .lSAction > .lSPrev {
            right: 0;
            left: 20px;
            background-image: url(../images/portfolio-main/lightslider-left.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
        }
        .lSAction > .lSNext {
            right: 28px;
            background-image: url(../images/portfolio-main/ligghtslider-right.svg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
        }
        .portfolio-left-icons {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;
            padding-top: 36px;
            li {
                a {
                    display: flex;
                    flex-direction: column;
                    &:hover {
                        text-decoration: unset;
                    }
                }
                p {
                    margin-bottom: -6px;
                }
                div {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 9px;
                        left: 9px;
                        width: 25px;
                        height: 25px;
                        background: #fb7d76;
                        border-radius: 50px;
                        opacity: 0.15;
                    }
                    svg {
                        width: 26px;
                        height: 26px;
                        fill: #001136;
                        margin-right: 8px;
                    }
                }

                span {
                    display: flex;
                    align-items: flex-end;
                    font-weight: 500;
                    font-size: 16px;
                    color: #001136;
                    &:nth-child(2) {
                        font-size: 18px;
                        font-weight: bold;
                        padding-left: 35px;
                    }
                }
            }
        }
    }
    .portfolio-left-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 24px;
        .title {
            h1 {
                font-size: 55px;
                opacity: 0.3;
                -webkit-text-fill-color: white;
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: #fb7d76;
                margin-bottom: -32px;
            }
            h2 {
                position: relative;
                font-size: 25px;
                font-weight: 400;
            }
            h6 {
                font-size: 16px;
            }
        }
        .title-share {
            display: flex;
            .share-icon {
                background-color: #fee5e3;
                padding: 3px 9px 9px 11px;
                margin-right: 18px;
                height: fit-content;
                border-radius: 50%;
            }
            .icon-Group-513 {
                width: 17px;
                height: 17px;
            }
            .icon-favorite-1 {
                width: 32px;
                height: 40px;
                fill: #7f889a;
            }
        }
    }
    &-right {
        padding-top: 45px;
        padding-left: 28px;
        .portfolio-form {
            padding: 36px 26px;
            border-radius: 15px;
            background: #f3f5fe;
            margin-bottom: 10px;
            &:nth-child(2) {
                padding: 43px 26px;
            }
            h4 {
                font-size: 13px;
                font-weight: 500;
                color: #001136;
                padding-bottom: 24px;
            }
            form {
                input {
                    margin-bottom: 32px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 10px 17px;
                }
                button {
                    width: 100%;
                    border-radius: 10px;
                    background-color: #3259fc;
                    color: #ffffff;
                    box-shadow: 3px 1px 17px 1px #ccc;
                    font-size: 14px;
                    svg {
                        width: 15px;
                        height: 10px;
                        fill: #fff;
                        margin-left: 13px;
                        margin-bottom: 1px;
                    }
                }
            }
            .form-item {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                input {
                    margin-bottom: 0;
                    margin-right: 10px;
                }
                svg {
                    width: 10px;
                    height: 10px;
                    fill: #000;
                }
                select {
                    border-radius: 10px;
                    padding: 30px;
                    padding: 5px 5px;
                    width: 28%;
                }
                .select2-selection {
                    width: 42px;
                    height: 32px;
                    border-radius: 10px !important;
                }
            }
        }
        .live__chat__btns {
            .chat__btn {
                display: flex;
                align-items: center;
                padding-top: 12px;
                p {
                    width: 126px;
                    text-align: right;
                    padding-right: 19px;
                    margin-bottom: 0;
                }
                .live__chat {
                    background-color: #5ad087;
                    border-radius: 50%;
                    padding: 16px 15px 12px 15px;
                    border: unset;
                    svg {
                        width: 49px;
                        height: 49px;
                    }
                }
            }
        }
    }
}
.portfolio-explanation {
    padding-top: 38px;
    .explanation-text {
        padding-bottom: 37px;
        h6 {
            font-size: 22px;
            font-weight: inherit;
            color: #001136;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            padding-top: 14px;
            cursor: pointer;
            a {
                color: #fb7d76;
                svg {
                    width: 16px;
                    height: 11px;
                    fill: #fb7d76;
                    margin-left: 7px;
                }
            }
        }
    }
    .explanation-list {
        padding-top: 37px;
        h6 {
            font-size: 22px;
            font-weight: 400;
            padding-bottom: 22px;
        }
        .lists {
            display: flex;
            justify-content: space-between;
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    padding-bottom: 16px;
                    svg {
                        width: 21px;
                        height: 21px;
                        margin-right: 11px;
                    }
                    a {
                        font-size: 16px;
                        color: #000;
                        &:hover {
                            text-decoration: unset;
                        }
                    }
                }
            }
        }
    }
}
.portfolio-announcement {
    padding-bottom: 140px;
    .title {
        h1 {
            font-size: 55px;
            opacity: 0.3;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: #fb7d76;
            margin-bottom: -32px;
        }
        h2 {
            position: relative;
            font-size: 25px;
            font-weight: 400;
        }
    }
    .portfolio__bottom {
        margin-top: 41px;
        .houses.show.active {
            display: flex;
            justify-content: space-between;
            .house__item {
                width: 24%;
                margin-bottom: 31px;
                border-radius: 15px;
                padding: 10px;
                box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.3);
                .img__holder {
                    position: relative;
                    img {
                        max-width: 100%;
                        width: 100%;
                    }
                    .img__info {
                        position: absolute;
                        top: 0;
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        padding: 0 12px;
                        .bookmark {
                            position: relative;
                            .ribbon__svg {
                                position: absolute;
                                left: -12px;
                                top: -8px;
                                svg {
                                    width: 113px;
                                    height: 75px;
                                    opacity: 1;
                                }
                            }
                            .price__info {
                                position: absolute;
                                left: 10px;
                                top: 0;
                                max-width: 113px;
                                max-height: 75px;
                                h6 {
                                    font-size: 11px;
                                    color: #ffffff;
                                }
                                .sale__price,
                                .old__price {
                                    color: #ffffff;
                                    display: flex;
                                    align-items: center;
                                    svg {
                                        width: 10px;
                                        height: 11px;
                                    }
                                }
                                .sale__price {
                                    font-size: 16px;
                                    svg {
                                        fill: #ffffff;
                                        opacity: 1;
                                    }
                                }
                                .old__price {
                                    font-size: 12px;
                                    text-decoration: line-through;
                                    color: #9aadfd;
                                    svg {
                                        fill: #9aadfd;
                                    }
                                }
                            }
                        }
                        svg {
                            width: 23px;
                            height: 29px;
                            opacity: 0.45;
                            fill: #001136;
                        }
                        .fav {
                            width: 31px;
                            height: 38px;
                            fill: #fb7d76;
                            opacity: 1;
                            position: relative;
                        }
                    }
                }
                .house__info {
                    margin-top: 11px;
                    .place {
                        display: flex;
                        justify-content: space-between;
                        color: #001136;
                        min-height: 52px;
                        align-items: center;
                        h5 {
                            font-size: 20px;
                        }
                        h6 {
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            svg {
                                width: 24px;
                                height: 26px;
                                margin-left: 8px;
                            }
                        }
                    }
                    .details {
                        margin-top: 13px;
                        ul {
                            list-style-type: none;
                            display: flex;
                            margin-bottom: 0;
                            li {
                                margin-right: 28px;

                                span {
                                    display: flex;
                                    align-items: center;
                                    color: #001136;
                                    opacity: 0.45;
                                    font-size: 14px;
                                    svg {
                                        width: 17px;
                                        height: 16px;
                                        margin-right: 3px;
                                    }
                                }
                                h6 {
                                    font-size: 16px;
                                    color: #001136;
                                }
                            }
                        }
                    }
                }
            }
            .house__item__active {
                border: 0.5px solid #3259fc;
            }
        }
        .houses__list__view.active {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .house__list__item {
                background: #ffffff;
                position: relative;
                width: 100%;
                margin-bottom: 20px;
                border-radius: 15px;
                padding: 11px;
                box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.3);
                display: flex;
                .image__wrapper {
                    img {
                        max-width: 100%;
                        width: 181px;
                        height: 130px;
                    }
                }
                .house__info {
                    margin-top: 11px;

                    padding: 0 10px 0 24px;

                    .place {
                        color: #001136;
                        min-height: 52px;
                        align-items: center;
                        h5 {
                            font-size: 22px;
                        }
                        h6 {
                            margin-top: 16px;
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .details {
                        margin-top: 13px;

                        display: flex;
                        justify-content: space-between;

                        ul {
                            list-style-type: none;
                            display: flex;
                            margin-bottom: 0;

                            margin-top: 15px;
                            li {
                                margin-right: 30px;
                                display: flex;
                                justify-content: space-between;

                                span {
                                    display: flex;
                                    align-items: center;
                                    color: #001136;
                                    opacity: 0.45;
                                    font-size: 14px;
                                    svg {
                                        width: 17px;
                                        height: 16px;
                                        margin-right: 3px;
                                    }
                                }
                                h6 {
                                    font-size: 16px;
                                    color: #001136;

                                    margin-left: 12px;
                                }
                            }
                        }
                        .price__info {
                            display: flex;
                            align-items: flex-end;
                            .sale__price,
                            .old__price {
                                align-items: center;
                                display: flex;
                            }
                            .sale__price {
                                font-size: 24px;
                                color: #3259fc;
                                svg {
                                    fill: #3259fc;
                                    width: 17px;
                                    height: 19px;
                                }
                            }
                            .old__price {
                                font-size: 17px;
                                text-decoration: line-through;
                                color: #001136;
                                opacity: 0.5;
                                margin-right: 10px;
                                font-weight: bold;
                                svg {
                                    fill: #001136;
                                    width: 10px;
                                    height: 11px;
                                }
                            }
                        }
                    }
                }

                .bookmark {
                    position: absolute;
                    top: 0;
                    right: 23px;
                    svg {
                        opacity: 0.3;
                        width: 29px;
                        height: 36px;
                        cursor: pointer;
                    }
                    .fav {
                        opacity: 1;
                        fill: #fb7d76;
                    }
                }
            }
            .house__list__item__active {
                border: 0.5px solid #3259fc;
            }
        }
    }
    .page__navigation {
        margin-top: 38px;
        .pagination {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            .page__item {
                padding: 3px;
                .page__link {
                    color: #001136;
                    opacity: 0.3;
                    font-size: 17px;
                    span {
                        svg {
                            width: 16px;
                            height: 11px;
                        }
                    }
                }
                .page-link__active {
                    color: #fb7d76;
                    opacity: 1;
                }
            }
            .arrow__left,
            .arrow__right {
                border: 1px solid #001136;
                width: 34px;
                height: 34px;
                text-align: center;
                border-radius: 10px;
                .page__link {
                    position: relative;
                    opacity: 1;
                }
            }
            .arrow__left {
                margin-right: 40px;
            }
            .arrow__right {
                margin-left: 40px;
                background: #001136;
            }
        }
    }
    .portfolio-announcement-more {
        float: right;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        padding: 10px 62px;
        border-radius: 10px;
        background-color: #3259fc;
        color: #ffffff;
        box-shadow: 3px 1px 17px 1px #ccc;
    }
}
.footer {
    width: 100%;
}
.portfolio-info {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100px;
        width: 100%;
        height: 100%;
        background: url(../images/bgimgfor2.2.png);
        background-repeat: no-repeat;
        z-index: -1;
        background-size: cover;
    }
}

///others-portifolio
.select2-search__field {
    display: none !important;
}
#home-video {
    width: 100%;
    height: 100vh;
}
.cd-popup-trigger {
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50em;
    background: #35a785;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}
.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.mapouter {
    iframe {
        width: 100%;
        height: 100vh;
    }
}
.cd-popup-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.25em 0.25em 0.4em 0.4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatex(-400px);
    -moz-transform: translatex(-400px);
    -ms-transform: translatex(-400px);
    -o-transform: translatex(-400px);
    transform: translatex(-400px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.cd-popup-container p {
    padding: 0px;
    margin: 0px;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
    content: "";
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
.is-visible .cd-popup-container {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.lg-object.lg-image {
    width: 100% !important;
    height: 100vh !important;
    object-fit: cover;
}
.lg-thumb-outer {
    background-color: unset !important;
}
.lg-rotate-left,
.lg-rotate-right,
.lg-flip-ver,
.lg-autoplay-button,
.lg-download,
.lg-toogle-thumb,
#lg-share,
#lg-counter,
#lg-actual-size,
#lg-zoom-out,
#lg-zoom-in,
.lg-flip-hor {
    display: none;
}
.lg-toolbar {
    background: unset;
    padding-right: 20px;
}
.lg-toolbar .lg-icon {
    height: 37px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0 !important;
    width: 44px;
    background: #fff;
}
.lg-toolbar .lg-icon:hover {
    color: #000;
}
.lg-fullscreen {
    margin-right: 9px;
}
.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border-color: #3259fc;
}
.one1,
.two2,
.third3,
.four4,
.five5 {
    display: none !important;
}
.portfolio-main-right-responsive {
    display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: -1px !important;
}
@media only screen and (max-width: 992px) {
    .portfolio-main-right {
        display: none;
    }
    .portfolio-main-right-responsive {
        display: block;
    }
    .portfolio-announcement .portfolio__bottom .houses.show.active {
        flex-direction: column;
    }
    .portfolio-announcement .portfolio__bottom .houses.show.active .house__item {
        width: 100%;
    }
    .lists {
        flex-wrap: wrap;
    }
    .portfolio-main {
        flex-direction: column;
    }
    .portfolio-main-right {
        padding-left: 0;
    }
    .portfolio-info::after {
        content: "";
        position: unset;
    }
    .portfolio-main-left .lSGallery {
        display: -webkit-inline-box;
    }
    .portfolio-left-icons li {
        width: 50%;
        border-bottom: 2px solid #e4e4e4;
        padding-bottom: 14px;
        padding-top: 14px;
    }
    .portfolio-main-left .portfolio-left-icons {
        flex-wrap: wrap;
    }
    #online-modal .portfolio-form {
        margin-bottom: unset;
    }
    #online-modal .modal-content {
        border-radius: 12rem;
    }
    .portfolio-form .close {
        top: 7px;
        position: absolute;
        right: 10px;
    }
    #online-modal .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-left: 8px !important;
    }
    .overlay .overlay-bottom {
        flex-direction: column;
        top: 20rem !important;
    }
    .overlay .overlay-bottom .overlay-bottom-buttons {
        top: -14px !important;
    }
    #see-modal .modal-content {
        border-radius: 12rem;
    }
    #see-modal .portfolio-form {
        margin-bottom: unset;
    }
    #online-modal .modal-body {
        padding: unset !important;
    }
    #online-modal .portfolio-main-right {
        padding-top: unset !important;
    }
    #see-modal .portfolio-main-right {
        padding-top: unset !important;
    }
    #see-modal .modal-body {
        padding: unset !important;
    }
    .portfolio-main-right-responsive {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .portfolio-main-right-responsive a {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        padding: 10px 47px;
        border-radius: 10px;
        background-color: #3259fc;
        color: #ffffff;
        -webkit-box-shadow: 3px 1px 17px 1px #ccc;
        box-shadow: 3px 1px 17px 1px #ccc;
        margin-bottom: 14px;
        width: 94%;
        text-align: center;
    }
    .overlay-fullscreen {
        position: absolute;
        left: 15rem !important;
        top: 22px !important;
    }
}

#imageGallery1 {
    display: none;
}
.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: all 0.3s;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-trigger:before {
    content: "Daha fazla";
}

.read-more-state:checked ~ .read-more-wrap .read-more-trigger:before {
    content: "Daha az";
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5em;
    color: #fb7d76;
    font-size: 0.9em;
    line-height: 2;
    border-radius: 0.25em;
}
.read-more-trigger svg {
    width: 42px;
    height: 12px;
    fill: #fb7d76;
}
