@font-face {
  font-family: "Gotham";
  src: url(../fonts/Gotham-Black);
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
header,
footer {
  width: 100%;
}
header {
  .header-navbar {
    .change-language {
      .dropdown {
        .dropdown-toggle {
          box-shadow: none;
          outline: none;
          &:active {
            box-shadow: none;
            outline: none;
          }
        }
      }
    }
  }
}
#services {
  background: url("../images/services/servicesBg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  .main__services__bg {
    color: #001136;
    font-style: normal;
    letter-spacing: normal;
    .services__title {
      color: #001136;
      h1 {
        font-size: 55px;
        opacity: 0.3;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #fb7d76;
        margin-bottom: -32px;
      }
      h2 {
        position: relative;
        font-size: 25px;
        font-weight: 400;
      }
      h6 {
        font-size: 16px;
      }
    }
    .main__title {
      margin-top: 104px;
      h1 {
        font-size: 35px;
        font-weight: 400;
        color: #3259fc;
      }
      p {
        font-size: 18px;
        margin-top: 12px;
        opacity: 0.45;
        color: #001136;
      }
    }
  }
  .live__chat__btns {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 999 !important;
    .whatsapp__btn,
    .telegram__btn,
    .messenger__btn,
    .close__btn {
      display: none;
    }
    li {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    .live__chat {
      background: #3259fc;
      border-radius: 10px;
      border: none;
      padding: 8px 6px 8px 6px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 29px;
          height: 25px;
        }
      }
    }
  }
  .mobile__nav {
    background: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 999 !important;
    .nav__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      button {
        border: none;
        background: none;
        a {
          display: block;
          color: #3259fc;
          opacity: 0.3;
        }
        svg {
          width: 23px;
          height: 23px;
          fill: #3259fc;
          opacity: 0.3;
        }
      }
      .active {
        a {
          color: #3259fc;
          opacity: 1;
        }
        svg {
          fill: #3259fc;
          opacity: 1;
        }
      }
    }
  }
}
#what__we__do {
  width: 100%;
  height: 100%;
  background: url("../images/services/Group12.png");
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100%;
  .what__we__do__wrapper {
    .works {
      padding-bottom: 112px;
      .line__items {
        position: relative;
        text-align: center;
        img {
          max-width: 100%;
        }
        .work__item {
          position: absolute;
          h4 {
            font-size: 24px;
            font-weight: bold;
            color: #001136;
          }
          p {
            color: #001136;
            opacity: 0.45;
            font-size: 16px;
            margin-top: 7px;
          }
          .circle__white {
            position: absolute;
            border: 0.5px solid;
            width: 30px;
            height: 30px;
            background: #ffffff;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9;
            .circle__inner {
              width: 22px;
              height: 22px;
              border-radius: 50px;
            }
          }
        }
        .work__item__active {
          h4 {
            color: #3259fc;
          }
          .circle__white {
            border-color: #3259fc;
            .circle__inner {
              background: #3259fc;
            }
          }
        }
        .work__item__one {
          top: -10px;
          left: -50px;
          text-align: end;
          .circle__white {
            top: 0;
            right: -35px;
          }
        }
        .work__item__two {
          top: 145px;
          left: 250px;
          text-align: left;
          .circle__white {
            top: -40px;
            left: 0;
          }
        }
        .work__item__three {
          top: 0;
          text-align: left;
          right: 300px;
          .circle__white {
            bottom: -40px;
          }
        }
        .work__item__four {
          top: 200px;
          text-align: left;
          right: -50px;
          .circle__white {
            top: 0;
            left: -40px;
          }
        }
        .work__item__five {
          right: 0px;
          margin-top: 10px;
          text-align: left;
          .circle__white {
            top: -30px;
            left: 0;
          }
        }
        .work__item__six {
          bottom: 0;
          right: 300px;
          text-align: left;
          .circle__white {
            bottom: -15px;
            left: 0;
          }
        }
        .work__item__seven {
          left: 50px;
          text-align: left;
          .circle__white {
            right: -30px;
            top: -15px;
          }
        }
        .work__item__two,
        .work__item__three,
        .work__item__four,
        .work__item__five,
        .work__item__six,
        .work__item__seven,
        .work__item__seven {
          .circle__white {
            border-color: rgba(0, 17, 54, 0.45);
            .circle__inner {
              background: rgba(0, 17, 54, 0.45);
            }
          }
        }
      }
    }
    .free__services {
      padding-top: 112px;
      padding-bottom: 100px;
      .free__services__title {
        h2 {
          font-size: 35px;
          color: #001136;
        }
        p {
          font-size: 16px;
          margin-top: 24px;
          color: #001136;
          opacity: 0.45;
        }
      }
      .free__services__items {
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .services__item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 37px 38px 38px 63px;
          .inner__item {
            color: #001136;
            text-align: center;
            background: #ffffff;
            box-shadow: 1px 0px 16px 3px #9c999938;
            padding: 25px;
            width: 150px;
            height: 150px;
            border-radius: 100%;
            h6 {
              font-size: 18px;
            }
            p {
              font-size: 14px;
              opacity: 0.45;
            }
          }
        }
        .services__item__active {
          .inner__item {
            h6 {
              color: #fb7d76;
            }
          }
        }
        .services__item__one {
          background: url("../images/services/NumberOne.png");
          background-size: contain;
          background-repeat: no-repeat;
        }
        .services__item__two {
          background: url("../images/services/NumberTwo.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
        .services__item__three {
          background: url("../images/services/NumberThree.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
        .services__item__four {
          background: url("../images/services/NumberFour.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .services__content {
        margin-top: 55px;
        p {
          color: #001136;
          opacity: 0.45;
          font-size: 16px;
        }
      }
    }
  }
  .live__chat__btns {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 999 !important;
    .whatsapp__btn,
    .telegram__btn,
    .messenger__btn,
    .close__btn {
      display: none;
    }
    li {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    .live__chat {
      background: #3259fc;
      border-radius: 10px;
      border: none;
      padding: 8px 6px 8px 6px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 29px;
          height: 25px;
        }
      }
    }
  }
  .mobile__nav {
    background: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 999 !important;
    .nav__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      button {
        border: none;
        background: none;
        a {
          display: block;
          color: #3259fc;
          opacity: 0.3;
        }
        svg {
          width: 23px;
          height: 23px;
          fill: #3259fc;
          opacity: 0.3;
        }
      }
      .active {
        a {
          color: #3259fc;
          opacity: 1;
        }
        svg {
          fill: #3259fc;
          opacity: 1;
        }
      }
    }
  }
}
@media (max-width: 1199.98px) {
  .line__items {
    .work__item__seven {
      left: 0 !important;
      .circle__white {
        right: 0 !important;
      }
    }
    .work__item__one {
      left: 25px !important;
      .circle__white {
        left: 0 !important;
      }
    }
    .work__item__four {
      right: 50px !important;
      .circle__white {
        right: -35px !important;
        left: unset !important;
      }
    }
  }
}
@media (max-width: 991.98px) {
  #what__we__do {
    background: url("../images/services/Group112.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    .line__items {
      text-align: unset !important;
      position: relative;
      .img-1 {
        display: none;
      }
      .img-2 {
        display: block !important;
      }
      .work__item {
        // position: relative !important;
        left: unset !important;
        right: unset !important;
        top: unset !important;
        text-align: unset !important;
        .circle__white {
          top: 0 !important;
        }
      }
      .work__item__two,
      .work__item__four,
      .work__item__six {
        right: 100px !important;
        text-align: right !important;
        .circle__white {
          right: -50px !important;
          left: unset !important;
        }
      }
      .work__item__one,
      .work__item__three,
      .work__item__five,
      .work__item__seven {
        left: 50px !important;
        text-align: left !important;
        .circle__white {
          left: -50px !important;
        }
      }
      .work__item__one {
        top: 0 !important;
      }
      .work__item__two {
        top: 18% !important;
        right: 8% !important;
      }
      .work__item__three {
        top: 35% !important;
        left: 8% !important;
      }
      .work__item__four {
        top: 50% !important;
        right: 8% !important;
      }
      .work__item__five {
        top: 68% !important;
        left: 8%;
      }
      .work__item__six {
        bottom: 10% !important;
        right: 8% !important;
      }
      .work__item__seven {
        bottom: -6% !important;
        left: 10% !important;
      }
    }
    .free__services__items {
      flex-direction: column !important;
      align-items: center;
      .services__item {
        display: block !important;
        margin-bottom: 70px;
      }
    }
  }
}
@media (max-width: 768.98px) {
}
@media (max-width: 575px) {
  .live__chat {
    bottom: 75% !important;
  }
  .mobile__nav {
    display: block !important;
  }
  #what__we__do {
    .line__items {
      .work__item__two,
      .work__item__four,
      .work__item__six {
        right: 100px !important;
        text-align: right !important;
        .circle__white {
          right: -50px !important;
          left: unset !important;
        }
      }
      .work__item__one,
      .work__item__three,
      .work__item__five,
      .work__item__seven {
        left: 50px !important;
        text-align: left !important;
        .circle__white {
          left: -50px !important;
        }
      }
      .work__item__one {
        top: 0 !important;
      }
      .work__item__two {
        top: 18% !important;
        right: 8% !important;
      }
      .work__item__three {
        top: 35% !important;
        left: 8% !important;
      }
      .work__item__four {
        top: 50% !important;
        right: 8% !important;
      }
      .work__item__five {
        top: 68% !important;
        left: 8%;
      }
      .work__item__six {
        bottom: 10% !important;
        right: 8% !important;
      }
      .work__item__seven {
        bottom: -6% !important;
        left: 10% !important;
      }
    }
  }
}
@media (max-width: 400px) {
  #what__we__do {
    .line__items {
      .work__item {
        h4 {
          font-size: 20px !important;
        }
        p {
          font-size: 12px !important;
        }
        .circle__white {
          width: 20px !important;
          height: 20px !important;
          top: 0 !important;
          .circle__inner {
            width: 12px !important;
            height: 12px !important;
          }
        }
      }

      .work__item__one {
        top: 0 !important;
      }
      .work__item__two {
        top: 18% !important;
        right: 14% !important;
      }
      .work__item__three {
        top: 35% !important;
        left: 14% !important;
      }
      .work__item__four {
        top: 50% !important;
        right: 14% !important;
      }
      .work__item__five {
        top: 68% !important;
        left: 14%;
      }
      .work__item__six {
        bottom: 7% !important;
        right: 17% !important;
      }
      .work__item__seven {
        bottom: -12% !important;
        left: 18% !important;
      }
    }
  }
}
