@font-face {
  font-family: "Gotham";
  src: url(../fonts/Gotham-Black);
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

* li {
  list-style-type: none;
}

* a:hover {
  text-decoration: none;
}

* :focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: calc(100% - 50px);
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #c4c2c2;
          box-shadow: inset 0 0 5px #c4c2c2;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fb7d76;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fb7d76;
}

.navbar-list-active::before {
  content: "";
  position: absolute;
  width: -webkit-fill-available;
  height: 2px;
  background: #fb7d76;
  top: 22px;
  width: 50%;
  left: 16px;
}

header {
  position: relative;
}

.header {
  width: 100%;
  background-image: url(../images/main-background.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.header-navbar .logo img {
  max-width: 176px;
  max-height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-navbar ul li {
  margin-right: 20px;
}

.header-navbar ul li a {
  color: #001136;
  font-weight: 400;
  position: relative;
}

.header-navbar ul li a:hover::before {
  content: "";
  position: absolute;
  width: -webkit-fill-available;
  height: 2px;
  background: #fb7d76;
  top: 22px;
  width: 50%;
  left: 16px;
}

.header-navbar .change-language .dropdown-toggle::after {
  display: none;
}

.header-navbar .change-language .dropdown a {
  background: unset;
  border: unset;
  color: #001136;
}

.header-navbar .change-language .change-lang-img {
  padding-left: 5px;
  padding-right: 5px;
}

.header-navbar .change-language .dropdown.show a {
  background-color: #ffffff;
}

.header-navbar .change-language .dropdown-toggle {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-navbar .change-language .dropdown-toggle .flag {
  margin-left: 5px;
  margin-right: 5px;
}

.header-navbar .change-language .dropdown-toggle {
  color: #001136;
  background: transparent;
  -webkit-transition: none;
  transition: none;
}

.header-navbar .change-language .dropdown-toggle:active {
  background: transparent;
  color: #001136;
}

.header-navbar .change-language .dropdown-menu {
  border: none;
  min-width: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-navbar .change-language .dropdown-menu.show {
  -webkit-transform: translate3d(0px, 32px, 0px) !important;
          transform: translate3d(0px, 32px, 0px) !important;
}

.header-navbar .change-language .dropdown-item-active {
  color: #3259fc !important;
  opacity: 1 !important;
}

.header-navbar .change-language .dropdown-item {
  color: #001136;
  opacity: 0.3;
}

.header-navbar .change-language .dropdown-item:hover {
  color: #3259fc;
  opacity: 1;
}

.header-navbar .login a {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding: 10px 47px;
  border-radius: 10px;
  background-color: #3259fc;
  color: #ffffff;
  -webkit-box-shadow: 3px 1px 17px 1px #ccc;
          box-shadow: 3px 1px 17px 1px #ccc;
}

.header-description {
  padding-top: 132px;
  padding-bottom: 30px;
}

.header-description h1 {
  width: 333px;
  height: 105px;
  position: relative;
  color: #fb7d76;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
}

.header-description h1::after {
  content: "";
  position: absolute;
  top: -105px;
  left: 0;
  width: 100%;
  height: 284px;
  background-image: url(../images/01.png);
  background-repeat: no-repeat;
}

.header-description p {
  width: 50%;
  color: #001136;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
}

.header-filter .nav-tabs .nav-item .active {
  background-color: #3259fc;
  color: #ffffff;
}

.header-filter .nav-tabs {
  border-bottom: 0;
}

.header-filter .nav-tabs .nav-item-filter-1 .nav-link {
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}

.header-filter .nav-tabs .nav-item-filter-2 .nav-link {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  color: rgba(0, 17, 54, 0.5);
}

.header-filter .nav-tabs .nav-link {
  border: none;
  color: rgba(0, 17, 54, 0.5);
}

.header-filter .nav-tabs .nav-link.active {
  background: #3259fc;
  color: #ffffff;
}

.header-filter .tab-content {
  width: 843px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.header-filter .tab-content #filtre,
.header-filter .tab-content #morefiltre,
.header-filter .tab-content #searchwithid {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0px 9px 4px #d4d4d4c2;
          box-shadow: 1px 0px 9px 4px #d4d4d4c2;
  border-radius: 10px;
  border-top-left-radius: 0;
  padding: 20px;
  border: unset;
}

.header-filter .tab-content #filtre .filters,
.header-filter .tab-content #morefiltre .filters,
.header-filter .tab-content #searchwithid .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-filter .tab-content #filtre .filters .select2-container,
.header-filter .tab-content #morefiltre .filters .select2-container,
.header-filter .tab-content #searchwithid .filters .select2-container {
  margin-right: 28px;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  padding-top: 7px;
}

.header-filter .tab-content #filtre .filters .dropdown,
.header-filter .tab-content #morefiltre .filters .dropdown,
.header-filter .tab-content #searchwithid .filters .dropdown {
  margin-right: 28px;
}

.header-filter .tab-content #filtre .filters select,
.header-filter .tab-content #morefiltre .filters select,
.header-filter .tab-content #searchwithid .filters select {
  color: #3259fc;
  border: unset;
  margin-right: 60px;
}

.header-filter .tab-content #filtre .filters .dropdown .btn-secondary,
.header-filter .tab-content #morefiltre .filters .dropdown .btn-secondary,
.header-filter .tab-content #searchwithid .filters .dropdown .btn-secondary {
  background: unset;
  border: unset;
  color: #3259fc;
  padding-bottom: 0;
}

.header-filter .tab-content #filtre .filters .dropdown-toggle:after,
.header-filter .tab-content #morefiltre .filters .dropdown-toggle:after,
.header-filter .tab-content #searchwithid .filters .dropdown-toggle:after {
  content: "";
  border: none;
  background-image: url(../images/arrow-down-blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none !important;
  height: 11px !important;
  width: 11px !important;
  margin: auto !important;
  top: 9px !important;
  left: 4px !important;
  position: relative;
}

.header-filter .tab-content #filtre .filters .form-input,
.header-filter .tab-content #morefiltre .filters .form-input,
.header-filter .tab-content #searchwithid .filters .form-input {
  width: 246px;
  height: 46px;
  margin-left: 54px;
  border-radius: 10px;
  border: 1px solid #b3b8c3;
  opacity: 0.5;
  color: #001136;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: left;
}

.header-filter .tab-content #filtre .filters .search,
.header-filter .tab-content #morefiltre .filters .search,
.header-filter .tab-content #searchwithid .filters .search {
  border-radius: 10px;
  background-color: #3259fc;
  padding: 10px 14px;
  margin-left: 43px;
}

.header-filter .tab-content #filtre .filters .search img,
.header-filter .tab-content #morefiltre .filters .search img,
.header-filter .tab-content #searchwithid .filters .search img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.header-filter .tab-content #filtre .dropdown-range-price .dropdown-menu,
.header-filter .tab-content #morefiltre .dropdown-range-price .dropdown-menu,
.header-filter .tab-content #searchwithid .dropdown-range-price .dropdown-menu {
  height: 130px;
  border: unset;
  margin-top: 0;
}

.header-filter .tab-content #filtre .dropdown-range-price .dropdown-price-button,
.header-filter .tab-content #morefiltre .dropdown-range-price .dropdown-price-button,
.header-filter .tab-content #searchwithid .dropdown-range-price .dropdown-price-button {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding: 7px 18px;
  border-radius: 6px;
  background-color: #3259fc;
  color: #ffffff;
  margin-top: 28px;
  float: right;
  margin-right: 14px;
}

.header-filter .tab-content #filtre .dropdown-range-price.show,
.header-filter .tab-content #morefiltre .dropdown-range-price.show,
.header-filter .tab-content #searchwithid .dropdown-range-price.show {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.header-filter .tab-content #filtre .dropdown-range-price .dropdown-menu,
.header-filter .tab-content #morefiltre .dropdown-range-price .dropdown-menu,
.header-filter .tab-content #searchwithid .dropdown-range-price .dropdown-menu {
  -webkit-box-shadow: 2px 18px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 18px 15px rgba(0, 0, 0, 0.1);
}

.header-filter .tab-content #filtre .slider-range-prices,
.header-filter .tab-content #morefiltre .slider-range-prices,
.header-filter .tab-content #searchwithid .slider-range-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-filter .tab-content #filtre .slider-range-prices input,
.header-filter .tab-content #morefiltre .slider-range-prices input,
.header-filter .tab-content #searchwithid .slider-range-prices input {
  border: unset;
  position: unset !important;
  font-size: 16px !important;
}

.header-filter .tab-content #filtre .slider-range-prices svg,
.header-filter .tab-content #morefiltre .slider-range-prices svg,
.header-filter .tab-content #searchwithid .slider-range-prices svg {
  width: 10px;
  height: 10px;
  fill: #001136;
  margin-right: 4px;
}

.header-filter .tab-content #filtre .slider-range-prices div,
.header-filter .tab-content #morefiltre .slider-range-prices div,
.header-filter .tab-content #searchwithid .slider-range-prices div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-filter .tab-content #filtre #ui-horizontal.ui-slider-horizontal .ui-slider-range,
.header-filter .tab-content #morefiltre #ui-horizontal.ui-slider-horizontal .ui-slider-range,
.header-filter .tab-content #searchwithid #ui-horizontal.ui-slider-horizontal .ui-slider-range {
  height: 2px;
}

.header-filter .tab-content #filtre .dropdown-room.show,
.header-filter .tab-content #morefiltre .dropdown-room.show,
.header-filter .tab-content #searchwithid .dropdown-room.show {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.header-filter .tab-content #filtre .dropdown-room .dropdown-menu,
.header-filter .tab-content #morefiltre .dropdown-room .dropdown-menu,
.header-filter .tab-content #searchwithid .dropdown-room .dropdown-menu {
  width: 355px;
  -webkit-box-shadow: 2px 18px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 18px 15px rgba(0, 0, 0, 0.1);
  border: unset;
  margin-top: unset;
}

.header-filter .tab-content #filtre .dropdown-room .dropdown-menu-rooms,
.header-filter .tab-content #morefiltre .dropdown-room .dropdown-menu-rooms,
.header-filter .tab-content #searchwithid .dropdown-room .dropdown-menu-rooms {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 16px;
}

.header-filter .tab-content #filtre .dropdown-room .dropdown-menu-rooms .dropdown-item,
.header-filter .tab-content #morefiltre .dropdown-room .dropdown-menu-rooms .dropdown-item,
.header-filter .tab-content #searchwithid .dropdown-room .dropdown-menu-rooms .dropdown-item {
  width: 55px;
  height: 45px;
  border-radius: 10px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  color: #e1e2e7;
}

.header-filter .tab-content #filtre .dropdown-room .dropdown-menu-rooms .dropdown-item-active,
.header-filter .tab-content #morefiltre .dropdown-room .dropdown-menu-rooms .dropdown-item-active,
.header-filter .tab-content #searchwithid .dropdown-room .dropdown-menu-rooms .dropdown-item-active {
  background-color: #3259fc;
  color: #fff;
  -webkit-box-shadow: 2px 18px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 18px 15px rgba(0, 0, 0, 0.1);
}

.header-filter .tab-content #filtre .dropdown-room .dropdown-menu-rooms .dropdown-item-active:hover,
.header-filter .tab-content #morefiltre .dropdown-room .dropdown-menu-rooms .dropdown-item-active:hover,
.header-filter .tab-content #searchwithid .dropdown-room .dropdown-menu-rooms .dropdown-item-active:hover {
  background-color: #3259fc !important;
  color: #fff;
}

.header-filter .tab-content #filtre .dropdown-room .dropdown-room-submit,
.header-filter .tab-content #morefiltre .dropdown-room .dropdown-room-submit,
.header-filter .tab-content #searchwithid .dropdown-room .dropdown-room-submit {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  float: right;
  margin-right: 12px;
  margin-top: 16px;
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #3259fc;
  color: #ffffff;
  -webkit-box-shadow: 3px 1px 17px 1px #ccc;
  box-shadow: 3px 1px 17px 1px #ccc;
}

.header .live__chat__btns {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 999 !important;
}

.header .live__chat__btns .whatsapp__btn,
.header .live__chat__btns .telegram__btn,
.header .live__chat__btns .messenger__btn,
.header .live__chat__btns .close__btn {
  display: none;
}

.header .live__chat__btns li {
  margin-bottom: 15px;
}

.header .live__chat__btns:last-child {
  margin-bottom: 0;
}

.header .live__chat__btns .live__chat {
  background: #3259fc;
  border-radius: 10px;
  border: none;
  padding: 8px 6px 8px 6px;
  margin-bottom: 15px;
}

.header .live__chat__btns .live__chat:last-child {
  margin-bottom: 0;
}

.header .live__chat__btns .live__chat a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .live__chat__btns .live__chat a svg {
  width: 29px;
  height: 25px;
}

.header .mobile__nav {
  background: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 999 !important;
}

.header .mobile__nav .nav__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.header .mobile__nav .nav__wrapper button {
  border: none;
  background: none;
}

.header .mobile__nav .nav__wrapper button a {
  display: block;
  color: #3259fc;
  opacity: 0.3;
}

.header .mobile__nav .nav__wrapper button svg {
  width: 23px;
  height: 23px;
  fill: #3259fc;
  opacity: 0.3;
}

.header .mobile__nav .nav__wrapper .active a {
  color: #3259fc;
  opacity: 1;
}

.header .mobile__nav .nav__wrapper .active svg {
  fill: #3259fc;
  opacity: 1;
}

.mobile-header--nav {
  display: none;
}

.header-mobile {
  display: none;
}

.active-hide-mobile {
  display: block !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  right: 0 !important;
}

.active-hide-mobile .header-mobile-burger svg {
  width: 19px;
  height: 10px;
}

#login-modal {
  position: absolute;
}

#login-modal .modal-content {
  height: 322px;
  width: 293px;
  border-radius: 15px;
  margin: 24% auto;
}

#login-modal .modal-header {
  border-bottom: unset;
}

#login-modal .modal-header .modal-title {
  font-size: 22px;
  font-weight: 500;
  color: #001136;
  padding-top: 32px;
}

#login-modal .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#login-modal .modal-body a {
  font-weight: 400;
  color: #001136;
  padding: 8px 20px;
  border: 1px solid #b5b9c4;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

#login-modal .modal-body a svg {
  width: 18px;
  height: 18px;
  margin-right: 9px;
  fill: blue;
}

.sectionsecond-title {
  padding-top: 180px;
}

.sectionsecond-title .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionsecond-title .section-title h2 {
  width: 333px;
  height: 105px;
  position: relative;
  color: #001136;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
}

.sectionsecond-title .section-title h2::after {
  content: "";
  position: absolute;
  top: -105px;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 284px;
  background-image: url(../images/02.png);
  background-repeat: no-repeat;
}

.sectionsecond-title .section-title p {
  width: 496px;
  color: #001136;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: left;
}

.sectionsecond-title .section-title a {
  color: #fb7d76;
}

.sectionsecond-title .section-title a svg {
  width: 16px;
  height: 11px;
  fill: #fb7d76;
  margin-left: 7px;
}

.sectionsecond {
  padding-top: 50px;
  padding-bottom: 138px;
  position: relative;
  z-index: 3;
}

.sectionsecond::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url("../images/bgimgfor2.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.sectionsecond::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100px;
  width: 100%;
  height: 100%;
  background: url("../images/bgimgfor2.2.png");
  background-repeat: no-repeat;
  z-index: 2;
  background-size: cover;
}

.sectionsecond .animation-img svg {
  width: 30px;
  height: 30px;
  fill: #3259fc;
}

.sectionsecond .animation-img .animation-img-first {
  top: 3.3%;
  left: 12%;
  position: absolute;
}

.sectionsecond .animation-img .animation-img-second {
  top: 42%;
  position: absolute;
  left: 91.5%;
  z-index: 9;
}

.sectionsecond .animation-img .animation-img-third {
  top: 66%;
  position: absolute;
  left: 14%;
  z-index: 9;
}

.sectionsecond .animation-img img {
  position: absolute;
}

.section-second {
  z-index: 999;
  position: relative;
}

.section-second--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-second--item:nth-child(2) {
  padding-top: 116px;
  padding-right: 58px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section-second--item:nth-child(2) .item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-second--item:nth-child(2) p {
  text-align: end !important;
}

.section-second--item:nth-child(3) {
  padding-top: 162px;
}

.section-second--item img {
  width: 190px;
  height: 190px;
}

.section-second--item .item-about h3 {
  color: #3259fc;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 50px;
}

.section-second--item .item-about p {
  width: 392px;
  opacity: 0.45;
  color: #001136;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
}

.section-second--item .item-about a {
  color: #ffffff;
  border-radius: 10px;
  background-color: #3259fc;
  padding: 10px 25px;
}

.section-second--item .item-about a svg {
  width: 15px;
  height: 10px;
  fill: #ffffff;
  margin-left: 10px;
}

.section-third {
  padding-top: 12px;
}

.section-third .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-third .section-title h2 {
  width: 333px;
  height: 105px;
  position: relative;
  color: #001136;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
}

.section-third .section-title h2::after {
  content: "";
  position: absolute;
  top: -105px;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 284px;
  background-image: url(../images/03.png);
  background-repeat: no-repeat;
}

.section-third .section-title p {
  width: 496px;
}

.section-third .section-title a {
  color: #fb7d76;
}

.section-third .slider-img {
  position: relative;
}

.section-third .slider-img--description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-third .slick-dots li {
  color: #001136;
  opacity: 0.3;
}

.section-third .slick-dots .slick-active {
  opacity: 1;
  color: #fb7d76;
}

.section-third .slick-next {
  background: #001136;
}

.section-third .slick-next::before {
  color: #ffffff;
  opacity: 1;
}

.section-fourth {
  overflow: hidden;
  padding-top: 136px;
  padding-bottom: 100px;
}

.section-fourth .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

.section-fourth .section-title h2 {
  width: 333px;
  height: 105px;
  position: relative;
  color: #001136;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
}

.section-fourth .section-title h2::after {
  content: "";
  position: absolute;
  top: -105px;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 284px;
  background-image: url(../images/04.png);
  background-repeat: no-repeat;
}

.section-fourth .section-title p {
  width: 496px;
  color: #001136;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: left;
}

.section-fourth .section-title a {
  color: #fb7d76;
}

.section-fourth .section-title a svg {
  width: 16px;
  height: 11px;
  fill: #fb7d76;
  margin-left: 7px;
}

.section-fourth .section-clients .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-fourth .section-clients .item .item-logo {
  padding-right: 19px;
  padding-left: 1px;
}

.section-fourth .section-clients .item .item-logo img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-fourth .section-clients .item .item-description h1 {
  color: #001136;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
}

.section-fourth .section-clients .item .item-description span {
  opacity: 0.45;
  color: #001136;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
}

.section-fourth .section-clients .item .item-description p {
  opacity: 0.45;
  color: #001136;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
}

.section-fourth .section-clients .owl-stage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-fourth .section-clients .owl-item {
  margin-right: 0 !important;
  width: 100% !important;
}

footer {
  background-color: #001136;
  position: relative;
  width: 100%;
  height: 100%;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/MaskGroup2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

footer .footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 0;
}

footer .footer-item .footer-logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer-item .footer-text {
  padding: 28px 0;
}

footer .footer-item .footer-text p {
  width: 378px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29px;
  text-align: left;
}

footer .footer-item .footer-list li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 34px;
  text-align: left;
}

footer .footer-item h6 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: left;
}

footer .footer-item .footer-contacts li {
  padding-bottom: 14px;
}

footer .footer-item .footer-contacts a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

footer .footer-item .footer-contacts svg {
  width: 14px;
  height: 17px;
  margin-right: 12px;
  fill: #ffffff;
}

footer .footer-item .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-item .footer-social li {
  margin-right: 40px;
}

footer .footer-item .footer-social li svg {
  width: 18px;
  height: 18px;
}

footer .footer-item .footer-copyright {
  color: #908888;
}

@media (max-width: 1199.98px) {
  .footer .footer-item:nth-child(3) {
    margin-left: 20px !important;
  }
}

@media (max-width: 991.98px) {
  .header-filter {
    display: none;
  }
  .header-navbar {
    display: none;
  }
  .header-filter {
    display: none;
  }
  .header-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 20px;
    display: block;
  }
  .header-mobile .header-mobile-logo {
    width: 176px;
    height: 50px;
  }
  .header-mobile .header-mobile-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #3259fc;
    border-radius: 12px;
    padding: 14px;
    padding-top: 18px;
  }
  .header-mobile .header-mobile-burger span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px;
    margin-top: 1px;
  }
  .header-description p {
    width: unset;
  }
  .header-description h1 {
    font-size: 30px;
    width: unset;
    height: 105px;
  }
  .mobile-header--nav {
    display: none;
    background: #ffffff;
    position: absolute;
    z-index: 999;
    top: 0;
    right: -300px;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    top: 0;
  }
  .mobile-header--nav .mobile-top {
    padding: 60px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #ccc;
  }
  .mobile-header--nav .mobile-top .login a {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    padding: 14px 90px;
    border-radius: 10px;
    background-color: #3259fc;
    color: #ffffff;
    -webkit-box-shadow: 3px 1px 17px 1px #ccc;
    box-shadow: 3px 1px 17px 1px #ccc;
  }
  .mobile-header--nav .mobile-top .header-mobile-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #3259fc;
    border-radius: 12px;
    padding-top: 19px;
    padding-bottom: 16px;
    padding-left: 13px;
    padding-right: 13px;
    -webkit-box-shadow: 3px 1px 17px 1px #ccc;
            box-shadow: 3px 1px 17px 1px #ccc;
  }
  .mobile-header--nav .mobile-top .header-mobile-burger span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5px;
    margin-top: 1px;
  }
  .mobile-header--nav .mobile-nav {
    border-bottom: 1px solid #ccc;
  }
  .mobile-header--nav .mobile-nav .nav {
    width: 100%;
    padding: 20px;
  }
  .mobile-header--nav .mobile-nav .nav ul li {
    padding-bottom: 14px;
  }
  .mobile-header--nav .mobile-nav .nav ul li a {
    color: #001136;
    font-weight: 700;
    position: relative;
    font-size: 20px;
  }
  .mobile-header--nav .mobile-nav .navbar-list-active::before {
    content: "";
    background: unset;
  }
  .mobile-header--nav .navbar-list-active {
    color: #fb7d76 !important;
  }
  .mobile-header--nav .mobile-language .btn-secondary.dropdown-toggle {
    width: 100%;
    text-align: left;
    background: #ffff;
    border-color: #ffffff;
    color: #000;
    padding: 30px;
    padding-top: 8px;
  }
  .mobile-header--nav .mobile-language .dropdown-menu.show {
    display: block;
    width: 100%;
    margin-left: 4px;
  }
  .mobile-header--nav .mobile-language .change-language h3 {
    font-size: 20px;
    padding-left: 33px;
    padding-top: 24px;
    margin-bottom: 0;
    color: #707070;
  }
  .mobile-header--nav .mobile-language .dropdown-toggle::after {
    content: unset !important;
  }
  .mobile-header--nav .mobile-language .arrow-down {
    padding-left: 74%;
  }
  .mobile-header--nav .mobile-language .flags {
    padding-right: 10px;
  }
  .mobile-header--nav .mobile-contact {
    border-top: 1px solid #ccc;
    padding: 34px;
    background: #ffffff;
  }
  .mobile-header--nav .mobile-contact h6 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }
  .mobile-header--nav .mobile-contact ul li {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-header--nav .mobile-contact ul li .svg {
    position: relative;
  }
  .mobile-header--nav .mobile-contact ul li .svg::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    width: 20px !important;
    height: 20px !important;
    background: #fb7d76;
    border-radius: 50px;
    opacity: 0.15;
  }
  .mobile-header--nav .mobile-contact ul li .svg svg {
    width: 14px;
    height: 17px;
    margin-right: 12px;
    fill: black;
  }
  .mobile-header--nav .mobile-contact ul li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-header--nav .mobile-contact ul li a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }
  .section-title {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .section-title h2,
  .section-title p {
    width: 100% !important;
  }
  .section-second--item {
    padding-right: 0 !important;
  }
  .section-second--item p {
    width: 100% !important;
  }
  .section-fourth .owl-nav,
  .owl-dots,
  .counters {
    display: none;
  }
  .section-clients-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    float: unset;
  }
  .sectionsecond::after {
    content: none;
  }
  .animation-img img {
    width: 100% !important;
  }
  .section-second--item .item-about a {
    padding: 5px 10px !important;
  }
  .section-second--item img {
    width: 186px;
    height: 119px;
  }
  .section-second--item:nth-child(2) {
    padding-top: 46px;
  }
  .section-second--item:nth-child(3) {
    padding-top: 74px;
  }
  .owl-stage {
    right: 26px;
  }
  .section-fourth .section-clients .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-third {
    padding-top: 48px;
  }
  .section-second--item .item-about a {
    display: block;
    width: 133px;
  }
  footer::before {
    background-size: 100% 100%;
  }
  .footer {
    padding: 60px 0 90px 0 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    position: relative;
  }
  .footer .footer-item:nth-child(3) {
    margin-left: 0 !important;
  }
  .footer .footer-item:last-child h6 {
    display: none;
  }
  .footer .footer-item:last-child .footer-social {
    position: absolute;
    top: 40px !important;
    right: 0;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer .footer-item:last-child .footer-social li {
    margin: 20px 0 20px 0;
  }
  .footer .footer-item:last-child .footer-social li:last-child {
    margin-bottom: 0 !important;
  }
  .footer .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer-list li {
    width: 50% !important;
  }
  .footer .footer-copyright {
    position: absolute;
    bottom: 40px;
  }
  .footer .footer-text p {
    width: 75% !important;
  }
  .owl-stage-outer {
    width: 100% !important;
  }
}

.header-mobile-filter-active {
  display: block !important;
}

.headet-mobile-filter {
  display: none;
  background-color: #f4f6ff;
  z-index: 9;
  position: absolute;
  padding: 36px 20px;
  top: 0;
  width: 100%;
}

.headet-mobile-filter .filter h4 {
  font-size: 18px;
  margin-bottom: 7px;
}

.headet-mobile-filter .filter .rent__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headet-mobile-filter .filter .rent__filter .rent__filter__item {
  width: 150px;
  height: 78px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.16);
  background: #ffffff;
  margin-bottom: 10px;
  padding: 6px 9px 9px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headet-mobile-filter .filter .rent__filter .rent__filter__item h5 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}

.headet-mobile-filter .filter .rent__filter .rent__filter__item div {
  position: relative;
}

.headet-mobile-filter .filter .rent__filter .rent__filter__item div::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 38px;
  height: 38px;
  background: #fb7d76;
  border-radius: 50px;
  opacity: 0.15;
}

.headet-mobile-filter .filter .rent__filter .rent__filter__item div svg {
  width: 43px;
  height: 43px;
}

.headet-mobile-filter .filter .rent__filter .rent__filter__item__active {
  background: #3259fc;
  color: #ffffff;
}

.headet-mobile-filter .filter .rent__filter .rent__filter__item__active div::after {
  background: #ffffff;
}

.headet-mobile-filter .filter .rent__filter .rent__filter__item__active div svg {
  fill: #ffffff;
}

.headet-mobile-filter .filter .property__type h4,
.headet-mobile-filter .filter .location h4,
.headet-mobile-filter .filter .rooms h4,
.headet-mobile-filter .filter .price__range h4,
.headet-mobile-filter .filter .metr__range h4 {
  color: #001136;
  font-size: 14px;
}

.headet-mobile-filter .filter .property__type .dropdown,
.headet-mobile-filter .filter .location .dropdown {
  width: 100%;
  font-size: 14px;
}

.headet-mobile-filter .filter .property__type .dropdown .dropdown-toggle,
.headet-mobile-filter .filter .location .dropdown .dropdown-toggle {
  padding: 14px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3259fc;
  background: #ffffff;
  border: none;
  border-radius: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.headet-mobile-filter .filter .property__type .dropdown .dropdown-toggle::after,
.headet-mobile-filter .filter .location .dropdown .dropdown-toggle::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #3259fc;
  border-right: 2px solid #3259fc;
  border-left: none;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headet-mobile-filter .filter .property__type .dropdown .dropdown-toggle svg,
.headet-mobile-filter .filter .location .dropdown .dropdown-toggle svg {
  width: 24px;
  height: 26px;
}

.headet-mobile-filter .filter .property__type .dropdown.show .btn__property,
.headet-mobile-filter .filter .location .dropdown.show .btn__property {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.headet-mobile-filter .filter .property__type .dropdown.show .dropdown-toggle::after,
.headet-mobile-filter .filter .location .dropdown.show .dropdown-toggle::after {
  display: inline-block;
  margin-top: 10px;
  width: 10px;
  height: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  border-bottom: 2px solid #3259fc;
  border-left: 2px solid #3259fc;
  border-right: none;
}

.headet-mobile-filter .filter .property__type .dropdown-menu,
.headet-mobile-filter .filter .location .dropdown-menu {
  padding: 11px 15px 15px 15px;
  width: 100%;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  -webkit-transform: translate3d(0px, 50px, 0px) !important;
          transform: translate3d(0px, 50px, 0px) !important;
  border-top: 0.5px solid rgba(0, 17, 54, 0.3);
}

.headet-mobile-filter .filter .property__type .dropdown-menu .dropdown-item,
.headet-mobile-filter .filter .location .dropdown-menu .dropdown-item {
  padding: 0;
  margin-bottom: 19px;
  color: #001136;
  opacity: 0.45;
}

.headet-mobile-filter .filter .property__type .dropdown-menu .dropdown-item:hover,
.headet-mobile-filter .filter .location .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #001136;
  opacity: 1;
}

.headet-mobile-filter .filter .property__type .dropdown-menu .dropdown-item:last-child,
.headet-mobile-filter .filter .location .dropdown-menu .dropdown-item:last-child {
  margin-bottom: 0;
}

.headet-mobile-filter .filter .property__type .dropdown-menu .dropdown-item svg,
.headet-mobile-filter .filter .location .dropdown-menu .dropdown-item svg {
  width: 24px;
  height: 26px;
}

.headet-mobile-filter .filter .property__type {
  margin-top: 39px;
}

.headet-mobile-filter .filter .location {
  margin-top: 32px;
}

.headet-mobile-filter .filter .rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 28px;
}

.headet-mobile-filter .filter .rooms .number__of__rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headet-mobile-filter .filter .rooms .number__of__rooms span {
  cursor: pointer;
  border: 1px solid #001136;
  opacity: 0.3;
  border-radius: 15px;
  padding: 6px;
  font-size: 16px;
}

.headet-mobile-filter .filter .rooms .number__of__rooms .selected__room {
  position: relative;
  opacity: 1;
  background: #3259fc;
  border: none;
  border: 0.5px solid #3259fc;
  color: #ffffff;
}

.headet-mobile-filter .filter .rooms .rooms--item-in {
  padding: 12px;
}

.headet-mobile-filter .filter .price__range {
  margin-top: 28px;
  padding-bottom: 20px;
}

.headet-mobile-filter .filter .price__range #slider-range-2 {
  background: rgba(112, 112, 112, 0.4);
  height: 2px;
  width: 100%;
  margin-top: 22px;
}

.headet-mobile-filter .filter .price__range #slider-range-2 .ui-slider-handle {
  background: #3259fc;
  border: none;
  border-radius: 50px;
  outline: none;
  top: -6px;
  width: 14px;
  height: 14px;
}

.headet-mobile-filter .filter .price__range #slider-range-2 .ui-slider-range {
  background: #3259fc;
  height: 2px;
}

.headet-mobile-filter .filter .price__range #slider-range-2 #amount-1,
.headet-mobile-filter .filter .price__range #slider-range-2 #amount-2 {
  color: #3259fc;
  background: none;
  border: none;
  width: 50px;
  position: absolute;
  top: 20px;
  left: -10px;
  outline: none;
}

.headet-mobile-filter .filter .metr__range {
  margin-top: 30px;
  padding-bottom: 20px;
}

.headet-mobile-filter .filter .metr__range #slider-range {
  background: rgba(112, 112, 112, 0.4);
  height: 2px;
  width: 100%;
  margin-top: 22px;
}

.headet-mobile-filter .filter .metr__range #slider-range .ui-slider-handle {
  background: #3259fc;
  border: none;
  border-radius: 50px;
  outline: none;
  top: -6px;
  width: 14px;
  height: 14px;
}

.headet-mobile-filter .filter .metr__range #slider-range .ui-slider-range {
  background: #3259fc;
  height: 2px;
}

.headet-mobile-filter .filter .metr__range #slider-range #amount1,
.headet-mobile-filter .filter .metr__range #slider-range #amount2 {
  color: #3259fc;
  background: none;
  border: none;
  width: 50px;
  position: absolute;
  top: 20px;
  left: -10px;
  outline: none;
}

.headet-mobile-filter .filter .filter-id {
  margin-top: 48px;
}

.headet-mobile-filter .filter .filter-id input {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.headet-mobile-filter .filter .search__btn {
  margin-top: 39px;
  border-radius: 12px;
  border: none;
  background: #3259fc;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headet-mobile-filter .filter .search__btn a {
  font-size: 14px;
  color: #ffffff;
  padding: 13px;
}

@media (max-width: 575px) {
  footer::before {
    background: url("../images/MaskGroup3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  section {
    overflow-x: hidden !important;
  }
  .mobile__nav {
    display: block !important;
  }
}

@media (max-width: 720px) {
  .sectionsecond .animation-img {
    display: none;
  }
  .header {
    height: 100vh;
  }
  .active-wrapper-nav a {
    opacity: 1 !important;
  }
  .active-wrapper-nav svg {
    opacity: 1 !important;
  }
  .header-mobile-burger img {
    width: 35px;
    height: 12px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 400px) {
  .header-description {
    padding-top: 45px;
  }
  .header-description p {
    font-size: 16px;
    line-height: 28px;
  }
  .header-mobile-logo img {
    width: 136px;
    height: 45px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header-mobile .header-mobile-burger {
    border-radius: 10px;
    padding: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 10px;
  }
  .header-mobile .header-mobile-burger span {
    display: block;
    width: 22px;
  }
  .header-mobile .header-mobile-burger span:nth-child(3) {
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .mobile-header--nav .mobile-top .login a {
    padding: 14px 60px;
  }
  .mobile-header--nav .mobile-language .arrow-down {
    padding-left: 62%;
  }
  .mobile-header--nav {
    height: unset;
  }
  .mobile-header--nav .mobile-top {
    padding: 60px 12px;
  }
}

.slick-list {
  overflow: unset;
}

.slider-range-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-range-prices input {
  border: unset;
  position: unset !important;
  font-size: 16px !important;
}

.slider-range-prices svg {
  width: 10px;
  height: 10px;
  fill: #001136;
  margin-right: 4px;
}

.slider-range-prices div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 550px) and (max-width: 992px) {
  footer::before {
    background: unset;
  }
}
/*# sourceMappingURL=style.css.map */